<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register - By onur_</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="onur_">
    <link href="/static/favicon.ico" rel="icon">
</head>
<body>
    <p>Register</p><br>
    <form action="#" method="post">
        <input type="text" name="username" placeholder="your username"/>
        <input type="password" name="password" placeholder="your password"/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>